<div *ngFor="let afdeling of afdelingen">{{afdeling.naam}}</div><br><br>
<span (click)="addAfdeling()" class="fa fa-plus" title="Toevoegen Afdeling"></span>
<div *ngIf="showModel" class="row">
    <form #f="ngForm">
        <div class="form-group">
            <label>Naam</label>
            <input class="form-control" required #naam="ngModel" pattern="[A-Za-z]*"
                [class.is-invalid]="naam.invalid && naam.touched" name="naam" type="text" [(ngModel)]="model.naam">
            <div *ngIf="naam.errors && (naam.dirty || naam.touched)">
                <div class="alert alert-danger mt-2" *ngIf="naam.errors.required">Naam is verplicht</div>
                <div class="alert alert-danger mt-2" *ngIf="naam.errors.pattern">Naam mag alleen letters hebben</div>
            </div>
            <button (click)="onSubmit()">Submit</button>
        </div>
    </form>
</div>