<div><img  (click)="clicked()" height="24" src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png"></div>
<div *ngIf="show">
  
<div>
    <div class="menu nav flex-column">
        <ng-container>
            <a class="nav-link" routerLink="/home">Home</a>
        </ng-container>
        <ng-container>
            <a class="nav-link" routerLink="/personen">Personen</a>
        </ng-container>
        <ng-container>
            <a class="nav-link" routerLink="/afdeling">Afdeling</a>
        </ng-container>
    </div>
</div>
</div>